{% extends 'base.html' %}
{% block title %}Всі задачі{% endblock %}
{% block content %}
<div class = "container text-start my-3">
    <a type="button" class="btn btn-outline-dark" href="{% url 'tasks-create' %}">Створити задачу</a>
</div>
{% for task in tasks %}
<div class="card", style="margin-bottom: 20px;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'tasks-detail' task.pk %}"><b>{{ task.name }}</b></a></li>
        <li class="list-group-item">{{ task.description }}</li>
        <li class="list-group-item">{{ task.status }}</li>
        <li class="list-group-item">{{ task.prioroty }}</li>
        {% if task.due_date %}
        <li class="list-group-item">{{ task.due_date|date:"d M Y" }}</li>
        {% endif %}
        <li class="list-group-item">{{ task.created_at|date:"d M Y" }}</li>
    </ul>
</div>
{% endfor %}
{% endblock %}