{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Задача {{ task.name }}{% endblock %}
{% block content %}
<div class = "container text-start my-3">
    <a type="button" class="btn btn-primary" href="{% url 'tasks-list' %}">Повернутись до задач</a>
    <a type="button" class="btn btn-warning" href="{% url 'tasks-update' task.pk %}">Редагувати</a>
    <a type="button" class="btn btn-danger" href="{% url 'tasks-delete' task.pk %}">Видалити</a>
</div>
<div class="card", style="margin-bottom: 20px;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>{{ task.name }}</b></li>
        <li class="list-group-item">{{ task.description }}</li>
        <li class="list-group-item">{{ task.status }}</li>
        <li class="list-group-item">{{ task.priority }}</li>
        {% if task.due_date %}
        <li class="list-group-item">{{ task.due_date|date:"d M Y" }}</li>
        {% endif %}
        <li class="list-group-item">{{ task.created_at|date:"d M Y" }}</li>
    </ul>
</div>
<div class="container text-start my-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Додати комментар</button>
    </form>
</div>

<h3>Коментарі:</h3>
{% for comment in comments %}
<div class="container text-start my-3 border border-2 border-dark">
    <p>{{ comment.content }}</p>
    {% if comment.media %}
        {% if comment.media.url|endswith:'.jpg' or comment.media.url|endswith:'.png' or comment.media.url|endswith:'.jpeg' or comment.media.url|endswith:'.gif' %}
        <img src="{{ comment.media.url }}" alt="Зображення коментаря" style="max-width:100%; border-radius: 10px;">
        {% elif comment.media.url|endswith:'.mp4' or comment.media.url|endswith:'.mov' or comment.media.url|endswith:'.avi' or comment.media.url|endswith:'.mkv' %}
        <video src="{{ comment.media.url }}" alt="Відео коментаря" style="max-width:100%; border-radius: 10px;" controls></video>
        {% endif %}
    {% endif %}
    <span class="badge text-bg-primary my-3">Автор: {{ comment.author.last_name }} {{ comment.author.first_name }}</span>
    <span class="badge text-bg-dark my-3">Створено: {{ comment.created_at|date:"d M Y"}}</span>
</div>
{% endfor %}

{% endblock %}